In [ ]:
#Task 1--
a=[31,13,23,25]
b=[1,2,3]
a+b

[31, 13, 23, 25, 1, 2, 3]

In [ ]:
#task2--
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 99
99 is Odd

In [ ]:
#task 3--
d1={'s.no':[1,2,3],'name':['chiranjeevi','jhansi','balaji'],'rollno':[31,13,23]}
d1

{'s.no': [1, 2, 3],
 'name': ['chiranjeevi', 'jhansi', 'balaji'],
 'rollno': [31, 13, 23]}

In [ ]:
#task 4--
def find_odd_numbers(start, end):
    for num in range(start, end + 1):
        if num % 2 != 0:
            print(num)

find_odd_numbers(1, 100)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
#task 5--
my_list = [1, 2, 3, 4, 5]

sum = 0
for item in my_list:
    sum += item

print("The sum of all items in the list is:", sum)

The sum of all items in the list is: 15